section {
  padding: 1em;
}

button {
  margin-top: 1em;
  border: none;
}

.button_category a {
  text-decoration: none;
  background-color: #d19964;
  color: #1c1c1c;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  border-radius: 5px;
}
.button_category a:hover {
  color: #ffd700;
}
