* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  color: #212529;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: #16479d;
}

.site-title {
  font-size: 1.7em;
  color: #fce89a;
  font-family: "Great Vibes", cursive;
}

.footer-text {
  color: #fce89a;
  font-family: "Great Vibes", cursive;
}
