.others_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1c1c1c;
}

.card_others_care {
  width: 25rem;
  background-color: #1c1c1c;
  color: #d2b48c;
  border: 1px solid #ffd700;
}

.card_others {
  background-color: #1c1c1c;
  color: #d2b48c;
  border: 1px solid #ffd700;
}

.card_text {
  font-size: 2em;
  font-weight: bold;
}

.button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 1em;
  border: none;
}

.button_category a {
  text-decoration: none;
  background-color: #d19964;
  color: #1c1c1c;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  border-radius: 5px;
}
.button_category a:hover {
  color: #ffd700;
}
