.others_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card_others {
  background-color: #756f4b;
  color: #f6e99e;
}

.card_text {
  font-size: 2em;
  font-weight: bold;
}

.button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 1em;
  border: none;
}

.button_category a {
  text-decoration: none;
  background-color: #fce89a;
  border: 1px solid #212529;
  color: #212529;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  border-radius: 5px;
}
.button_category a:hover {
  background-color: #212529;
  color: #fce89a;
}
